pipeline/HistoricalWeather.json
{
	"name": "HistoricalWeather",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"method": "GET",
					"url": "https://ds598-key-vault.vault.azure.net/secrets/OpenWeatherAPIKey/c2e6c3321a474c61a6b4564f01ae78ad?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net/"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('StartArray')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CopyData1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Json1",
									"type": "DatasetReference",
									"parameters": {
										"dataType": "hour",
										"lat": 42.36,
										"lon": 71.06,
										"appid": {
											"value": "@activity('Web1').output.value",
											"type": "Expression"
										},
										"start": {
											"value": "@item()",
											"type": "Expression"
										},
										"end": {
											"value": "@add(item(),604800)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Json2",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"StartArray": {
				"type": "Array",
				"defaultValue": [
					1695945600,
					1696550400,
					1697155200,
					1697760000,
					1698364800,
					1698969600,
					1699574400,
					1700179200,
					1700784000,
					1701388800,
					1701993600,
					1702598400,
					1703203200,
					1703808000,
					1704412800,
					1705017600,
					1705622400,
					1706227200,
					1706832000,
					1707436800,
					1708041600,
					1708646400,
					1709251200,
					1709856000,
					1710460800,
					1711065600,
					1711670400,
					1712275200,
					1712880000,
					1713484800,
					1714089600,
					1714694400,
					1715299200,
					1715904000,
					1716508800,
					1717113600,
					1717718400,
					1718323200,
					1718928000,
					1719532800,
					1720137600,
					1720742400,
					1721347200,
					1721952000,
					1722556800,
					1723161600,
					1723766400,
					1724371200,
					1724976000,
					1725580800,
					1726185600
				]
			},
			"EndArray": {
				"type": "Array",
				"defaultValue": [
					1696550400,
					1697155200,
					1697760000,
					1698364800,
					1698969600,
					1699574400,
					1700179200,
					1700784000,
					1701388800,
					1701993600,
					1702598400,
					1703203200,
					1703808000,
					1704412800,
					1705017600,
					1705622400,
					1706227200,
					1706832000,
					1707436800,
					1708041600,
					1708646400,
					1709251200,
					1709856000,
					1710460800,
					1711065600,
					1711670400,
					1712275200,
					1712880000,
					1713484800,
					1714089600,
					1714694400,
					1715299200,
					1715904000,
					1716508800,
					1717113600,
					1717718400,
					1718323200,
					1718928000,
					1719532800,
					1720137600,
					1720742400,
					1721347200,
					1721952000,
					1722556800,
					1723161600,
					1723766400,
					1724371200,
					1724976000,
					1725580800,
					1726185600,
					1726790400
				]
			}
		},
		"annotations": []
	}
}